<div class="app__header shadowed">
  <div class="header-wrapper">
    <div class="app__header-menu">
      <ul>
        <!-- <li class="shadowed"><a href="#">Trading mode</a>
        <ul class="shadowed">
          <li><a href="#">Auto [bot]</a></li>
          <li><a href="#">Manual</a></li> 
        </ul>
        </li> <!-- Trading mode -->
        <li class="shadowed"><a href="#">Add block</a></li>
        <li class="shadowed"><a href="#">Blog</a></li>
        <li class="shadowed"> <!-- Balance -->
          <a href="#">
            <div class="balance-informer">
              <div class="balance-informer__wrapper">
                <span class="tooltip">Balance
                  <span class="shadowed-black">
                  <!-- Balance start -->
                    <div class="balance app-block">
                      <div class="balance__header shadowed">
          <div class="balance__header-col">
            <div class="header-col__caption">
              <label class="caption__label">currency</label>
            </div>
          </div>
          <div class="balance__header-col">
            <div class="header-col__caption">
              <label class="caption__label">balance</label>
            </div>
          </div>
          <div class="balance__header-col">
            <div class="header-col__caption">
              <label class="caption__label">in orders</label>
            </div>
          </div>
        </div>  <!-- Header -->
                      <div class="balance__content shadowed">
                        <div class="balance__content__row">
            <div class="balance__content__cell app-block__item__elem">
              <label>USD</label>
            </div>
            <div class="balance__content__cell">
              <label>0.1659</label>
            </div>
            <div class="balance__content__cell">
              <label>0.3157</label>
            </div>
          </div>
                        <div class="balance__content__row">
            <div class="balance__content__cell app-block__item__elem">
              <label>USD</label>
            </div>
            <div class="balance__content__cell">
              <label>0.1659</label>
            </div>
            <div class="balance__content__cell">
              <label>0.3157</label>
            </div>
          </div>
                        <div class="balance__content__row">
            <div class="balance__content__cell app-block__item__elem">
              <label>EUR</label>
            </div>
            <div class="balance__content__cell">
              <label>0.1659</label>
            </div>
            <div class="balance__content__cell">
              <label>0.3157</label>
            </div>
          </div>
                        <div class="balance__content__row">
            <div class="balance__content__cell app-block__item__elem">
              <label>RUB</label>
            </div>
            <div class="balance__content__cell">
              <label>0.1659</label>
            </div>
            <div class="balance__content__cell">
              <label>0.3157</label>
            </div>
          </div>
                        <div class="balance__content__row">
            <div class="balance__content__cell app-block__item__elem">
              <label>PLN</label>
            </div>
            <div class="balance__content__cell">
              <label>0.1659</label>
            </div>
            <div class="balance__content__cell">
              <label>0.3157</label>
            </div>
          </div>
                        <div class="balance__content__row">
            <div class="balance__content__cell app-block__item__elem">
              <label>UAH</label>
            </div>
            <div class="balance__content__cell">
              <label>0.1659</label>
            </div>
            <div class="balance__content__cell">
              <label>0.3157</label>
            </div>
          </div>
                        <div class="balance__content__row">
            <div class="balance__content__cell app-block__item__elem">
              <label>BTC</label>
            </div>
            <div class="balance__content__cell">
              <label>0.1659</label>
            </div>
            <div class="balance__content__cell">
              <label>0.3157</label>
            </div>
          </div>
                        <div class="balance__content__row">
            <div class="balance__content__cell app-block__item__elem">
              <label>LTC</label>
            </div>
            <div class="balance__content__cell">
              <label>0.1659</label>
            </div>
            <div class="balance__content__cell">
              <label>0.3157</label>
            </div>
          </div>
                        <div class="balance__content__row">
            <div class="balance__content__cell app-block__item__elem">
              <label>DOGE</label>
            </div>
            <div class="balance__content__cell">
              <label>0.1659</label>
            </div>
            <div class="balance__content__cell">
              <label>0.3157</label>
            </div>
          </div>
                        <div class="balance__content__row">
            <div class="balance__content__cell app-block__item__elem">
              <label>ETH</label>
            </div>
            <div class="balance__content__cell">
              <label>0.1659</label>
            </div>
            <div class="balance__content__cell">
              <label>0.3157</label>
            </div>
          </div>
                        <div class="balance__content__row">
            <div class="balance__content__cell app-block__item__elem">
              <label>WAWES</label>
            </div>
            <div class="balance__content__cell">
              <label>0.1659</label>
            </div>
            <div class="balance__content__cell">
              <label>0.3157</label>
            </div>
          </div>
                        <div class="balance__content__row">
            <div class="balance__content__cell app-block__item__elem">
              <label>USDT</label>
            </div>
            <div class="balance__content__cell">
              <label>0.1659</label>
            </div>
            <div class="balance__content__cell">
              <label>0.3157</label>
            </div>
          </div>
                        <div class="balance__content__row">
            <div class="balance__content__cell app-block__item__elem">
              <label>ZEC</label>
            </div>
            <div class="balance__content__cell">
              <label>0.1659</label>
            </div>
            <div class="balance__content__cell">
              <label>0.3157</label>
            </div>
          </div>
                      </div> <!-- Content -->
                    </div>
                  <!-- Balance end -->      
                  </span>
                </span>     
              </div>
            </div>
          </a>
        </li>     
      </ul>    
    </div>
  </div>
</div>
<canvas id="canvas"></canvas>
<div class="app__content">
  <!-- Trading items start -->
  <div class="trading-items app-block"> //
    <div class="trading-item__wrapper shadowed">
      <div id="trading-item__01" class="trading-item app-block__item ">//
      <!-- Graph start-->
      <div class="graph-item app-block__item__elem">
        <span class="close shadowed" title="Close"></span>
        <span class="pair-info"> 
          <strong>
            [BTC_USD]
          </strong> 
          Average price: buy 13'000, sell 13'891
        </span>
        <span class="refresh">
          <input id="refresh" type="checkbox" name="refresh">  
          <label for="refresh" title="Refresh on/off">refresh</label>
        </span>
         <iframe id="graph-frame__01" 
                 src="https://exmo.me/ctrl/getTemplate?name=main_small&para=BTC_USD&period=day&lang=ru" 
                 vspace="0px" 
                 scrolling="no"> 
         </iframe>
      </div>
      <!-- Graph end-->
      <!-- Trading mode start-->
      <div class="trading-mode-item app-block__item__elem">
          <div class="blockheader shadowed left" > 
            <label>Trading mode</label>
            <select class="trading-mode" id="trding-mode">
                    <option value="0" selected="true">Manual</option>
                    <option value="1">Auto</option>
            </select>
          </div>
          <div class="trading-mode__inner">//
            <div class="manual-trading__inner">
              <div class="crypto-amount">
                <input type="number" step="0.0001" class="amount" id="amount" name="amount" placeholder="amount"/>
                <select class="curr-pair_select-crypto" id="crypto" name="crypto">
                    <option value="BTC" selected="true">BTC</option>
                    <option value="ETH">ETH</option>
                </select>
              </div>
              <div class="currency-price">
                <input type="number" step="0.0001" class="price" id="price" name="price" placeholder="price"/>
                <select class="curr-pair_select-crypto " id="crypto" name="crypto">
                    <option value="BTC" selected="true">USD</option>
                    <option value="ETH">RUB</option>
                </select>
              </div>
              <div class="order-creation-hint">
                <div class="hint-row">
                  <div class="hint-cell hint-info">
                    <label >Total: </label>
                  </div>  
                  <div class="hint-cell hint-value">
                    <label >0000 USD </label>
                  </div>
                </div>
              <div class="hint-row">
                <div class="hint-cell hint-info">
                  <label>Buy fee: </label>
                </div>
                <div class="hint-cell hint-value">
                  <label>0000 BTC </label>
                </div>
              </div>
              <div class="hint-row">
                <div class="hint-cell hint-info">
                  <label>Sell fee: </label> 
                </div>
                <div class="hint-cell hint-value">  
                  <label >0000 USD </label>
                </div> 
              </div>  
            </div>
              <div class="order-creation-buttons">
              <div class="hint-row">
                <button class="button">buy</button>
                <button class="button">sell</button>
              </div>
            </div>
            </div>
            <div class="auto-trading__inner">
                  <div class="curr-pair app-block__item__elem">
                    <div class="curr-pair__label " >
                     <label class="">Currency pair</label>
                    </div>
                    <div class="curr-pair__values ">
                      <select class="curr-pair_select-crypto " id="crypto" name="crypto">
                      <option value="BTC" selected="true">BTC</option>
                      <option value="ETH">ETH</option>
                      <option value="MNR">MNR</option>
                    </select> 
                      <select class="curr-pair_select-currency " id="currency" name="currency">
                    <option value="BTC" selected="true">USD</option>
                    <option value="ETH">EUR</option>
                    <option value="MNR">RUB</option>
                  </select> 
                    </div>
                  </div> <!-- curr pair -->
                  <div class="check-period controls-form__item app-block__item__elem">
                    <div class="check-period__label">
                      <label class="check-period__label-caption">Avg price check period</label>
                    </div>
                    <div class="check-period__values">
                      <select class="" id="" name="">
                    <option value="5" >5 min</option>
                    <option value="10">10 min</option>
                    <option value="15" selected="true">15 min</option>
                    <option value="20">20 min</option>
                    <option value="30">30 min</option>
                </select>  
                    </div>
                  </div> <!-- Check period -->
                  <div class="profit controls-form__item app-block__item__elem">
                    <div class="profit__label">
                      <label class="profit__label-caption">
                        Deal profit
                          <span class="profit-persent-value">
                            [0.001 = 1%]
                          </span>
                      </label>
                    </div>
                    <div class="profit__values">
                      <input type="number" min="0.001" step="0.001" class="profit__input" id="profit__input" name="profit__input" placeholder="0.001"></input>
                    </div>
                  </div> <!-- Profit -->
                  <div class="max-purch controls-form__item app-block__item__elem">
                    <div class="max-purch__label">
                      <label class="max-purch__label-caption">Max purchase</label>
                    </div>
                    <div class="max-purch__values">
                      <input type="number" min="0.001" step="0.001" class="max-purch__input" id="max-purch__input" name="max-purch__input" placeholder="0.05"></input>
                    </div>
                  </div> <!-- Max purch --> 
                  <div class="stop-loss controls-form__item app-block__item__elem">
                    <div class="stop-loss__label">
                      <label class="stop-loss__label-caption">Stop-loss</label>
                    </div>
                    <div class="stop-loss__values">
                      <input type="number" min="0.001" step="0.01" class="profit__input" id="profit__input" name="profit__input" placeholder="0.001" disabled></input>
                    </div>
                  </div> <!-- Stop loss -->
                  <div class="take-profit controls-form__item app-block__item__elem">
                    <div class="take-profit__label">
                      <label class="take-profit__label-caption">Take profit</label>
                    </div>
                    <div class="take-profit__values">   
                      <input type="number" min="0.001" step="0.01" 
                         class="profit__input" id="profit__input" 
                         name="profit__input" placeholder="0.001"  
                         disabled>
                  </input>
                    </div>
                  </div> <!-- Take profit -->
                  <div class="status controls-form__item app-block__item__elem">
                    <div class="status-caption">
                      <div class="status-caption__label "><label>Status:</label></div>
                      <div class="status-caption__state "><label>Idle</label></div>
                    </div>
                  </div> <!-- Status -->
            </div>//
            <!-- Current orders start -->
            <div class="current-orders">
              <div class="current-orders__caption">
                <label>Current orders</label>
              </div>
              <div class="sell-order-info">
                <div class="sell-order-info__header controls-form__item shadowed">
                  <div class="order-info__header-col">
                    <div class="header-col__caption">
                      <label class="caption__label">amount</label>
                    </div>
                  </div>
                  <div class="order-info__header-col">
                    <div class="header-col__caption">
                      <label class="caption__label">price</label>
                     </div>
                  </div>
                  <div class="order-info__header-col">
                    <div class="header-col__caption">
                      <label class="caption__label">summ</label>
                    </div>
                  </div>
                </div>
                <div class="order-info__body controls-form__item app-block__item__elem">
                    <div class="order-info__body-content">
                      <label>nothing to display</label>
                    </div>
                </div>
            </div> <!-- Buy order info -->
              <div class="buy-order-info">
                <div class="buy-order-info__header controls-form__item shadowed">
                  <div class="order-info__header-col">
                    <div class="header-col__caption">
                      <label class="caption__label">amount</label>
                     </div>
                  </div>
                  <div class="order-info__header-col">
                    <div class="header-col__caption">
                      <label class="caption__label">price</label>
                     </div>
                  </div>
                  <div class="order-info__header-col">
                    <div class="header-col__caption">
                      <label class="caption__label">summ</label>
                     </div>
                  </div>
                </div>
                <div class="order-info__body controls-form__item app-block__item__elem">
                    <div class="order-info__body-content">
                      <label>nothing to display</label>
                    </div>
                 </div>
            </div> <!-- Sell order info -->
            </div>
            <!-- Current orders end -->
          </div>
      </div>
      <!-- Trading mode end -->
      <!-- Sell orders start -->
      <div class="sell-orders orders-list app-block__item__elem">
        <div class="orders-list__wrapper">
          <div class="blockheader shadowed">
            <label>Sell orders</label>
          </div>
          <div class="orders-list__header shadowed">
            <div class="orders-list__header-col ">
              <div class="header-col__caption">
                <label class="caption__label">Price</label>
               </div>
            </div>
            <div class="orders-list__header-col">
              <div class="header-col__caption">
                <label class="caption__label">BTC</label>
               </div>
            </div>
            <div class="orders-list__header-col">
              <div class="header-col__caption">
                <label class="caption__label">USD</label>
               </div>
            </div>
          </div>
          <div class="orders-list__body  app-block__item__elem">
                      <div class="order-content__scrollable shadowed">
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                      </div>
          </div>  
        </div>
      </div>
      <!-- Sell orders end --> 
      <!-- Buy orders start -->
      <div class="sell-orders orders-list app-block__item__elem">
        <div class="orders-list__wrapper">
          <div class="blockheader shadowed">
            <label>Buy orders</label>
          </div>
          <div class="orders-list__header shadowed">
            <div class="orders-list__header-col ">
              <div class="header-col__caption">
                <label class="caption__label">Price</label>
               </div>
            </div>
            <div class="orders-list__header-col">
              <div class="header-col__caption">
                <label class="caption__label">BTC</label>
               </div>
            </div>
            <div class="orders-list__header-col">
              <div class="header-col__caption">
                <label class="caption__label">USD</label>
               </div>
            </div>
          </div>
          <div class="orders-list__body controls-form__item app-block__item__elem">
                      <div class="order-content__scrollable shadowed">
                        <div class="order-table__row">
                          <div class="order-table__cell app-block__item__elem">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                        <div class="order-table__row">
                          <div class="order-table__cell">
                            <label>14359</label>
                          </div>
                          <div class="order-table__cell">
                            <label>0.1659</label>
                          </div>
                          <div class="order-table__cell">
                            <label>1649.3157</label>
                          </div>
                        </div>
                      </div>
                  </div>  
        </div>
      </div>
      <!-- Buy orders end -->
    </div> 
      <!-- Latest deals start -->
      <div class="latest-deals app-block__item__elem">
        <div class="deal shadowed">
          <div class="deal-cell__buy">
            <div class="deal-cell__price">
              <label>12378.4541</label>
            </div>
            <div class="deal-cell__type">
              <label>buy</label>
            </div>
          </div>  
        </div>
        <div class="deal shadowed">
          <div class="deal-cell__sell">
            <div class="deal-cell__price">
              <label>13893.2134</label>
            </div>
            <div class="deal-cell__type">
              <label>sell</label>
            </div>
          </div>  
        </div>
        <div class="deal shadowed">
          <div class="deal-cell__sell">
            <div class="deal-cell__price">
              <label>13321.534</label>
            </div>
            <div class="deal-cell__type">
              <label>sell</label>
            </div>
          </div>  
        </div>
        <div class="deal shadowed">
          <div class="deal-cell__buy">
            <div class="deal-cell__price">
              <label>12378.4541</label>
            </div>
            <div class="deal-cell__type">
              <label>buy</label>
            </div>
          </div>  
        </div>
        <div class="deal shadowed">
          <div class="deal-cell__buy">
            <div class="deal-cell__price">
              <label>12378.4541</label>
            </div>
            <div class="deal-cell__type">
              <label>buy</label>
            </div>
          </div>  
        </div>
        <div class="deal shadowed">
          <div class="deal-cell__buy">
            <div class="deal-cell__price">
              <label>12378.4541</label>
            </div>
            <div class="deal-cell__type">
              <label>buy</label>
            </div>
          </div>  
        </div>
        <div class="deal shadowed">
          <div class="deal-cell__sell">
            <div class="deal-cell__price">
              <label>13893.2134</label>
            </div>
            <div class="deal-cell__type">
              <label>sell</label>
            </div>
          </div>  
        </div>
        <div class="deal shadowed">
          <div class="deal-cell__buy">
            <div class="deal-cell__price">
              <label>12378.4541</label>
            </div>
            <div class="deal-cell__type">
              <label>buy</label>
            </div>
          </div>  
        </div>
        <div class="deal shadowed">
          <div class="deal-cell__sell">
            <div class="deal-cell__price">
              <label>13893.2134</label>
            </div>
            <div class="deal-cell__type">
              <label>sell</label>
            </div>
          </div>  
        </div>
        <div class="deal shadowed">
          <div class="deal-cell__sell">
            <div class="deal-cell__price">
              <label>13321.534</label>
            </div>
            <div class="deal-cell__type">
              <label>sell</label>
            </div>
          </div>  
        </div>
        <div class="deal shadowed">
          <div class="deal-cell__buy">
            <div class="deal-cell__price">
              <label>12378.4541</label>
            </div>
            <div class="deal-cell__type">
              <label>buy</label>
            </div>
          </div>  
        </div>
        <div class="deal shadowed">
          <div class="deal-cell__buy">
            <div class="deal-cell__price">
              <label>12378.4541</label>
            </div>
            <div class="deal-cell__type">
              <label>buy</label>
            </div>
          </div>  
        </div>
        <div class="deal shadowed">
          <div class="deal-cell__buy">
            <div class="deal-cell__price">
              <label>12378.4541</label>
            </div>
            <div class="deal-cell__type">
              <label>buy</label>
            </div>
          </div>  
        </div>
        <div class="deal shadowed">
          <div class="deal-cell__sell">
            <div class="deal-cell__price">
              <label>13893.2134</label>
            </div>
            <div class="deal-cell__type">
              <label>sell</label>
            </div>
          </div>  
        </div>
        <div class="deal shadowed">
          <div class="deal-cell__sell">
            <div class="deal-cell__price">
              <label>13893.2134</label>
            </div>
            <div class="deal-cell__type">
              <label>sell</label>
            </div>
          </div>  
        </div>
      </div>  
      <!-- Latest deals end -->
    </div>
  </div>
  <!-- Trading items end -->
</div>
