@import url(https://fonts.googleapis.com/css?family=Cousine);

.console {
    background: white;
    width: 501px;
    height: 400px;
    position: absolute;
    left: 225px;
    top: -37px;
    z-index: 1;
    transition: 0.4s;
}

#console {
    width: 95.5%;
    height: 98%;
    margin-left: 18px;
    background: #eeeeee24;
    border: solid 1px #f2f2f2;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    overflow: auto;
    /* border-radius: 10px; */
    /* -webkit-box-shadow: inset 0 0 0px 7px #928771, inset 0 0 0px 12px rgba(0, 0, 0, 0.2); */
    /* box-shadow: inset 0 0 0px 7px #928771, inset 0 0 0px 12px rgba(0, 0, 0, 0.2); */
    z-index: 2;
}

#console p {
    position: relative;
    font-family: 'Cousine', 'monospace';
    font-size: 14px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 0;
    display: block;
    overflow: hidden;
    /* margin: 0; */
}

#console p:nth-child(1) {
    margin-top: 35px;
}

#console p.breakline {
    padding-bottom: 12px;
}